$color1: #727272;
$color2: #121212;

.song-player {
    width: 100%;
    margin: 10px auto 10px auto;
    height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.song-artwork {
    height: 80px;
    width: 80px;
    display: grid;
}

#button {
    display: flex;
    flex-flow: column;
}

#add-button {
    background-color: $color1;
    color: $color2;
}

#middle {
    flex: 3;
    flex-flow: column;
}

#song-timeline {
    width: 80%;
    height: 7px;
    background: white;
    margin-left: 10%;
}

#song-handle {
    height: 7px;
    width: 7px;
    background: $color2;
}

.play-song {
    width: 20px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
}
