$color: #E6E7E3;

#search {
    width: 200px;
    height: 30px;
    background-color: $color;
    padding: 3px;
    margin-right: 3px;
}

.search-form {
    color: #fff;
}

#search-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#search-button {
    width: 80px;
    height: 30px;
    background-color: $color;
    padding: 3px;
    margin-left: 3px;
}

