.lib-player {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-flow: row;
    background-color: #222323;
    bottom: 0;
}

.lib-artwork {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 25px;
}

.lib-info-container {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.lib-track {
    margin: 15px 0 0 15px;
    padding: 0;
    color: #f4f6f7;
    font-size: 18px;
}

.lib-artist {
    margin: 4px 0 0 15px;
    padding: 0;
    font-size: 14px;
    color: #E6E7E3;
}

.lib-button-container {
    display: flex;
    flex-flow: row;
    position: absolute;
    left: 45%;
    margin-top: 15px;
}

.lib-play {
    width: 25px;
    height: 30px;
}

.lib-pause {
    width: 25px;
    height: 30px;
}

.prev-icon {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-right: 25px;
}
.next-icon {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 20px;
}

.lib-slider-time {
    display: flex;
    flex-direction: column;
}

#libSlider {
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 5px;
}

#libCurrent {
    color: #f4f6f7;
    position: absolute;
    left: 25%;
    bottom: 20px;
}

#libTotal {
    color: #f4f6f7;
    position: absolute;
    left: 72%;
    bottom: 20px;
}