.song-player {
    width: 100%;
    height: 80px;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-flow: row;
    background-color: #222323;
}

.info-artwork-container {
    display: flex;
    flex-flow: row;
}

.song-artwork {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 25px;
}

#song-info-container {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.song-info1 {
    margin: 15px 0 0 15px;
    padding: 0;
    color: #f4f6f7;
    font-size: 18px;
}

.song-info2 {
    margin: 4px 0 0 15px;
    padding: 0;
    font-size: 14px;
    color: #E6E7E3;
}

.icon-time-container {
    display: flex; 
    flex-direction: column;
}

#icons {
    left: 50%;
    position: absolute;
    margin-top: 10px;
}

.song-play-button {
    width: 20px;
    height: 30px;
}

.song-pause-button {
    width: 25px;
    height: 30px;
}

.slider-time-container {
    display: flex; 
    flex-direction: column;
}

#slider {
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 5px;
}

#current {
    color: #f4f6f7;
    position: absolute;
    left: 25%;
    bottom: 20px;
}

#total {
    color: #f4f6f7;
    margin-left: 50px;
    position: absolute;
    left: 69%;
    bottom: 20px;
}