.search-page {
    width: 80%;
    margin-left: 20%;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 3px;
    position: fixed;
}

#search {
    width: 80%;
    height: 50px;
    background-color: #404142;
    border: none;
    font-size: 20px;
    color: #f4f6f7;
}

.song-search-container {
    margin-top: 80px;
}

.song-container {
    width: 95%;
    margin: auto;
    color: #f4f6f7;
    display: flex;
    flex-flow: row;
    height: 60px;
}

.song-container:hover {
    background-color: #001b33;
}
.song-container:hover #add-song-container{
    display: block;
}

#song-display {
    color: #f4f6f7;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    height: 50px;
}

.song-play-icon {
    height: 15px;
    width: 10px;
    margin: 20px 0 0 25px;
    justify-content: flex-start;
}

.song-info-holder {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

#song-name {
    margin-left: 15px;
    font-size: 18px;
}

.song-info-holder2 {
    display: flex; 
    flex-flow: row;
}

#song-info {
    margin-left: 15px;
    font-size: 14px;
}

#ball-icon {
    height: 2px;
    width: 2px;
    margin: 8px 5px 0 5px;
}

#song-albumn {
    font-size: 14px;
}

#add-song-container {
    display: none;
    position: absolute;
    margin-left: 65%;
}

.phantom {
    display: block;
    padding: 10px;
    height: 100px;
    width: 100%;
}

.sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}